{% extends 'base.html' %}

{% block title%}Login{% endblock %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


{% block content %}
<div class="d-flex justify-content-center">
    <div style="width: 60%">
        <div class="d-flex justify-content-center">
            <h1>Log In</h1>
        </div>
        {% for message in get_flashed_messages() %}
            <div>
                <button type="button" class="close">x</button>
                {{ message }}
            </div>
        {% endfor %}
        <div>
            {{ render_form(form) }}
            <a href="{{ url_for('auth_bp.signup') }}">Create an account</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
$(document).on('click', '.close', function() {
    $(this).closest('div').remove();
});
</script>
{% endblock %}